.kha-sticky-admin-menu-settings {
    padding: 25px;
}

.kha-sticky-admin-menu-settings h1 {
    margin-bottom: 34px;
}

.kha-sticky-admin-menu-settings fieldset {
    margin-bottom: 16px;
}

.kha-sticky-admin-menu-settings fieldset label {
    font-weight: bold;
    font-size: 15px;
}

.kha-sticky-admin-menu-settings fieldset input[type="text"] {
    font-size: 15px;
    line-height: 1.7;
    font-weight: normal;
    display: block;
    width: 450px;
}

.kha-sticky-admin-menu-settings fieldset textarea {
    font-size: 15px;
    line-height: 1.3;
    font-weight: normal;
    display: block;
    width: 450px;
}

.kha-sticky-admin-menu-settings .save-button {
    font-size: 16px;
    padding: 5px 12px;
    line-height: 1;
    cursor: pointer;
}

.kha-sticky-admin-menu-save-success {
    border: 1px solid #c3e6cb;
    background: #d4edda;
    color: #155724;
    display: block;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 16px;
}

